
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination span {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
}

.pagination span.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    cursor: default;
}

.pagination button:disabled {
    cursor: not-allowed;
}